

body{
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    color:black;
    line-height: 1.7;
    
}

a{
    transition: color .2s linear, border .2s linear;
    text-decoration:none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}
a:hover{
    border-bottom-color: transparent;
}

p{
    margin: 0 0 2em;
}

h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

h1{
    font-size: 36px;
   
}
h2{
    font-size: 30px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 15px;
}

sub, sup{
    font-size: 12px;
}
blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

.img-author{
    border-radius:100px; 
}

code{
    background: #f7f7f7;
    border-radius: .35em;
    border:2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: "courier new", monospace;
    color: #929292;
}

pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}
li{
    padding-left: .5em;
}

.ul-alternate{
    list-style-type: none;
    padding-left: 0; 
}
.ul-alternate li{
    border-bottom: 2px solid #d8d8d8;
    padding-left: 0;
}
.ul-alternate li:last-child{
   border: 0; 
}

.ul-icons{
    list-style-type: none;
    padding-left: 0; 
}
.ul-icons li{
    display: inline-block;
    font-size: 2em;
    color: #49bf9d;
}

input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
input, textarea, select{
    background: #ccc;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid transparent;
    margin-bottom: 15px;
}

input:focus, textarea:focus{
    border: 3px solid #49bf9d;
    outline: none;
}
textarea{
    height: 10em;
}

.button-default{
    background-color: #49bf9d;
    border: 2px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block;
    width: auto;
}

.button-default-stroke:hover{
    border-color: #49bf9d;
    color: #49bf9d;
    cursor: pointer;

}

.button-default:hover{
    opacity: 0.8;
    cursor: pointer;
}

.button-default-stroke{
    background-color: white;
    border-color: #efefef;
    color: inherit;
}
.button-default-small{
    font-size: .65em;
}
.button-default-big{
    font-size: 1em;
}
.button-default-full{
    display: block;
    text-align: center;
}

.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}
.table td{
    padding: .75em;
}
.table th{
    background: #ccc;
    padding: .75em;
}
.table tbody tr td{
    border-bottom: 1px solid #ccc;
}
.table tbody tr:first-child td{
    border-top: 2px solid #666;
}
.table tbody tr:last-child td{
    border-bottom: 2px solid #666;
}

.table tbody tr:nth-child(even) td{
    background: #eee;
}

.table-alternate tbody td, .table-alternate tbody tr:first-child td, .table-alternate tbody tr:last-child td{
    border: 1px solid #ddd;
}

.main-footer{
    position: fixed;
    left: 0;
    width: 35%;
    padding:0 54px 72px 0;
    bottom:0;
    box-sizing: border-box;
    text-align:right;
    font-size:22px;

}

.copyrith{
    font-family: sans-serif;
    font-size:18px;
    list-style: none;
    color: #49bf9d;
}




.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../Arquivos/Imagens/overlay.png), url(../Arquivos/Imagens/bg.jpg);
    background-position: right top;
    background-size: auto, cover;
    text-align:right;
}

.main-header-title{
    font-size: 22px;
    line-height: 1.5;
    font-weight: normal;
    color:rgb(15, 0, 0)
}
.main-header-title strong{
    color: white;
    font-weight: normal;
}
.main-header-link{
    color: inherit;
}
.main-header-link:hover{
    color: #49bf9d;
}

.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}


/* Grid */
.row{
    overflow: auto;
}

.col-2{
    width: 48.5%;
    float: left;
}
.col-2:first-child{
    margin-right: 1.5%;
}
.col-2:last-child{
    margin-left: 1.5%;
}
.col-2-3{
    width: 65%;
    float: left;
}
.col-1-3{
    width: 32%; /*32% do width do elemento pai*/
      /* usando matematica, é possivel distribuir a porcentagem dos valores.Uma width por padrão tem 100%, então dividimos ela por esse valor.*/
    float: left;
    
}



.col-1-3:nth-child(3n-2){ /* o N é multiplo, e neste caso estamo colocando os multiplos de 3(3,6,9) -2 ou seja(1,3,6)  */
    margin-right: 2%;

}

.col-1-3:nth-child(3n){  /*Isso continua alternando nos 2 casos, então temos que achar um que seja bom para os 2*/
    margin-left: 2%;

}


 /*isso acabou influenciando o col-1-3 la de cima.Para isso vamos usar a pseudo classe + para escolher o col-1-3 que vem imediatamente apos o col-2-3, ja que essa alteração que fizeos, vale só para imagens(que não tem o col-2-3)*/

.col-2-3 + .col-1-3, col-1-3 + .col-2-3{
     margin-left: 2%;
}


.recent-works-card img{
   border-radius:10px; 
      
}

.recent-works-card-title{
    text-align: center;
    font-family:sans-serif, monospace; 
    
}

.description{
    text-align: center;
    margin-top:0px; 
}

.gallery-thumb img{
     margin-bottom:2%; /* essas porcentagens é relativo ao elemento pai*/
     overflow: auto; /* quando não esta considerando a altura, coloque overflow:auto e ele considera o tamanho */
     display: inline-block;
}

.gallery-img img{
   width: 100%;
   
}

.limpar{
    clear: both;
}



